* {
    margin: 0;
    padding: 0;
}

.nav-section {
    display: inline;
}

.kidz {
    width: 200px;
    height: 50px;

    padding: 10px;
    padding-left: 50px;
}

.Cart {

    display: inline;
}

#cart1 {
    padding-left: 1600px;

}



.image-container img {
    display: flex;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 25%;
    left: 50px;
    color: aliceblue;
    padding: 20px;

}

.overlay-text h2 {
    font-size: 75px;
}

.overlay-text h3 {
    font-size: 30px;
    padding-top: 20px;
}

.books {
    display: flex;
    
    padding-top: 300px;


}

div .book-heading>h2 {

    padding-left: 50px;

}

div .book1>img {
    width: 250px;
    height: 400px;
    padding: 20px;
}

.book1>h3 {
    color: grey;
    font-weight: 400;


}

h2 {
    font-weight: bold;

}

div .book2>img {
    width: 250px;
    height: 400px;
    padding: 20px;
}

.book2>h3 {
    color: grey;
    font-weight: 400;

}

div .book3>img {
    width: 250px;
    height: 400px;
    padding: 20px;
}

.book3>h3 {
    color: grey;
    font-weight: 400;

}

div .book4>img {
    width: 250px;
    height: 400px;
    padding: 20px;
}

.book4>h3 {
    color: grey;
    font-weight: 400;

}

div .book5>img {
    width: 250px;
    height: 400px;
    padding: 20px;
}

.book5>h3 {
    color: grey;
    font-weight: 400;

}

div .book6>img {
    width: 250px;
    height: 400px;
    padding: 20px;
}

.book6>h3 {
    color: grey;
    font-weight: 400;

}

.Add img {

    background-color: rgb(108, 168, 225);
}

.Add {
    background-color: rgb(108, 168, 225);
    color: white;
    font-size: larger;
    border-radius: 5px;
    padding-bottom: 10px;
    font-weight: bold;

}

button {
    height: 40px;
    width: 90px;
}

.Games {
    display: flex;

    padding-top: 200px;

}

div .games-heading>h2 {
    padding-left: 50px;
}

div .game1>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.game1>h3 {
    color: grey;
    font-weight: 400;

}

div .game2>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.game2>h3 {
    color: grey;
    font-weight: 400;

}

div .game3>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.game3>h3 {
    color: grey;
    font-weight: 400;

}

div .game4>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.game4>h3 {
    color: grey;
    font-weight: 400;

}

.hnd-made {
    display: flex;
    
    padding-top: 200px;
    padding-bottom: 200px;

}

div .hm1>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.hm1>h3 {
    color: grey;
    font-weight: 400;

}

div .hm2>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.hm2>h3 {
    color: grey;
    font-weight: 400;

}

div .hm3>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.hm3>h3 {
    color: grey;
    font-weight: 400;

}

div .hm4>img {
    width: 400px;
    height: 400px;
    padding: 20px;

}

.hm4>h3 {
    color: grey;
    font-weight: 400;

}

.footer-section {
    display: flex;
    padding-top: 200px;
    width: 100%;

    background-color: black;
}

.footer-img>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.footer-section>h2 {
    color: aliceblue;
}


.ending {
    display: inline;
    color: aliceblue;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.ending>h3,
p {
    padding-left: 1400px;
}
.add-cart{
    display: flex;
    gap: 30px;
}

@media (max-width:430px) {
    div .kidz>img {
        width: 8rem;
        height: 2rem;
    }

    div #cart-icon>img {
        display: inline;
        padding-left: 5rem;
        width: 4rem;
        height: 2rem;
    }

    div .image-container>img {
        width: 430px;
        height: auto;
    }

    .overlay-text {
        position: absolute;
        top: 25%;
        left: 50px;
        color: aliceblue;
        padding: 20px;

    }

    div .overlay-text>h2 {
        color: white;
        font-size: small;
    }

    div .overlay-text>h3 {
        font-size: 8px;
        color: aqua;
    }

    div .book-heading>h2 {
        display: flex;

    }

    .books {
        display: inline;
    }

    .Games {
        display: inline;
    }

    .hnd-made {
        display: inline;
    }

    .footer-section {
        width: 430px;

    }





}